# Separate dataset

Since "new_train.csv" has labels and "test.csv" does not have any, we have to separate "new_train.csv" again to get real training and testing dataset for our own evaluation of later machine learning work.

In [1]:
import pandas as pd

In [2]:
new_train = pd.read_csv('new_train.csv')
new_train.head()

,id,keyword,location,text,target,cleaned_text
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,deed reason thi earthquak may allah forgiv us
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near la rong sask canada
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,resid ask shelter place notifi officers eva...
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,13 000 peopl receiv wildfir evacu order califo...
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,got sent thi photo rubi alaska smoke wildfir p...

In [3]:
X = new_train.loc[:, ['id', 'keyword', 'location', 'cleaned_text']]
X

,id,keyword,location,cleaned_text
0,1,NaN,NaN,deed reason thi earthquak may allah forgiv us
1,4,NaN,NaN,forest fire near la rong sask canada
2,5,NaN,NaN,resid ask shelter place notifi officers eva...
3,6,NaN,NaN,13 000 peopl receiv wildfir evacu order califo...
4,7,NaN,NaN,got sent thi photo rubi alaska smoke wildfir p...
...,...,...,...,...
7608,10869,NaN,NaN,two giant crane hold bridg collaps nearbi home
7609,10870,NaN,NaN,aria ahrari thetawniest control wild fire ca...
7610,10871,NaN,NaN,m1 94 01 04 utc 5km volcano hawaii
7611,10872,NaN,NaN,polic investig e bik collid car littl portugal...
7612,10873,NaN,NaN,latest home raze northern california wildfir ...

In [4]:
y = new_train.loc[:, ['id', 'target']]
y

         id  target
0         1       1
1         4       1
2         5       1
3         6       1
4         7       1
...     ...     ...
7608  10869       1
7609  10870       1
7610  10871       1
7611  10872       1
7612  10873       1

[7613 rows x 2 columns]

In [5]:
from sklearn import model_selection
# separate dataset
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2, random_state=888)

In [6]:
X_train

,id,keyword,location,cleaned_text
1888,2714,crushed,"Chicago, IL",jimmyfallon crush squirrel bone mortar pestl...
5162,7361,obliterate,Cymru araul,mccainenl think spectacular look stonewal rio...
892,1290,bloody,Chicago,can t bloodi wait soni set date stephen king...
1336,1932,burning%20buildings,NaN,protest ralli stone mountain atleast they r b...
2809,4041,disaster,"Calgary, AB",rbcinsur quot websit disaster tri 3 browse...
...,...,...,...,...
5270,7532,oil%20spill,Street of Dallas,refugio oil spill may costlier bigger project
1263,1821,burned,toronto Û¢ dallas,hate im tri straighten hair brother come swoop...
6637,9504,terrorist,NaN,pull fight hoe call zayn terrorist
1946,2797,curfew,IM LOST,da judg gave di girl 5pm curfew
2558,3667,destroy,NaN,get 150 free bet regist boylesport casino lu...

In [7]:
X_test

,id,keyword,location,cleaned_text
4887,6959,massacre,Colorado,colorado movi massacr trial juror reach verdic...
4539,6453,injured,Worldwide,top stori googl 4 dead dozen injur gaza blas...
4057,5764,forest%20fires,NaN,group florida forest servic firefight could de...
2679,3841,detonate,"Morioh, Japan",tinyjecht anoth stand user deton killer queen
1621,2341,collapse,Europe,greece tax revenu collaps debt crisi continu ...
...,...,...,...,...
5308,7581,outbreak,"FCT, Abuja",8th person die ny legionnaires diseas outbrea...
3346,4790,evacuated,Manchester,trafford centr film fan angri odeon cinema eva...
955,1382,body%20bag,"sitting on Eddie Vedders lap,",questergirl ditto had way feel drank vodka i...
2830,4068,displaced,Pedophile hunting ground,potu strategicpati strategi genocide refugee...
764,1105,blew%20up,NaN,queen gambit went well anakin blew droid contr...

In [8]:
# export
X_train.to_csv('X_train.csv', index=False)
X_test.to_csv('X_test.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
y_test.to_csv('y_test.csv', index=False)